.DS_Store

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

/emulator/debug
/emulator/release
/emulator/Makefile.*
/emulator/Makefile
/emulator/object_script.*
/emulator/lang/*.qm
Makefile
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
/emulator/.qtc_clangd/*
/emulator/.qm
.qmake.cache
.qmake.stash
*.json
*.user
.autosave
/emulator/QtUkncBtl
QtUkncBtl.app
/emulator/trace.log
*.dsk
/x-*
